# Python
backend/venv/
__pycache__/
*.pyc

# Django
backend/db.sqlite3
backend/media/
backend/private_media/

# Environment variables / API keys
.env
*.env
!.env.example

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/
.neon
.env.local
node_modules/

# Local Netlify folder
.netlify
